
input {
  
  text-align: left;
  font-size: 14px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: 1px solid #C9C9C9;
  width: 100%;
  max-width: 379px;
  background: unset;
}
  ::placeholder {
   
    font-size: 16px;
    color: #9d9d9d;
  }

  :-ms-input-placeholder {
   
    font-size: 16px;
    color: #9d9d9d;
  }

  ::-ms-input-placeholder {
   
    font-size: 16px;
    color: #9d9d9d;
  }
  :focus-visible {
    outline: unset;
  }


